node_modules
dist
bin/agent-lisp-paren-aid-deno
memo.txt
.\#memo.txt
\#memo.txt\#
bin/agent-lisp-paren-aid-linux

# Go binaries
agent-lisp-paren-aid
agent-lisp-paren-aid-linux
agent-lisp-paren-aid-darwin-amd64
agent-lisp-paren-aid-darwin-arm64
